.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.951660;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.955566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-1744.688000px;}
._7{margin-left:-1465.472000px;}
._5{margin-left:-1431.503890px;}
._0{width:1.015878px;}
._4{width:673.376195px;}
._1{width:744.495890px;}
._3{width:753.903890px;}
._2{width:766.896195px;}
._6{width:1700.224085px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:68.000000px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:80.000000px;}
.fs2{font-size:96.000000px;}
.fs6{font-size:112.000000px;}
.fs5{font-size:176.000000px;}
.fs4{font-size:320.000000px;}
.y0{bottom:0.000000px;}
.y7{bottom:35.471992px;}
.y9{bottom:35.807993px;}
.y2{bottom:35.967299px;}
.y10{bottom:90.549126px;}
.y15{bottom:90.549248px;}
.y12{bottom:142.778780px;}
.y11{bottom:142.958199px;}
.y6{bottom:185.853703px;}
.yd{bottom:196.120117px;}
.yb{bottom:222.520119px;}
.y4{bottom:228.950943px;}
.yc{bottom:248.920120px;}
.y5{bottom:295.053669px;}
.y3{bottom:329.766361px;}
.ya{bottom:362.854805px;}
.y14{bottom:373.749180px;}
.yf{bottom:385.720135px;}
.ye{bottom:390.549179px;}
.y13{bottom:407.349180px;}
.y1{bottom:474.966381px;}
.y8{bottom:487.763700px;}
.h5{height:46.251953px;}
.h2{height:48.585938px;}
.h4{height:48.972656px;}
.h1{height:53.906250px;}
.h3{height:64.687500px;}
.h9{height:75.468750px;}
.h8{height:75.578125px;}
.h7{height:118.765625px;}
.h6{height:215.937500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xa{left:40.891384px;}
.x7{left:53.580105px;}
.x1b{left:74.387497px;}
.x13{left:79.437500px;}
.x18{left:80.812500px;}
.x10{left:82.187500px;}
.x16{left:85.562500px;}
.xb{left:86.750011px;}
.x14{left:89.062500px;}
.xc{left:94.312500px;}
.x12{left:98.687500px;}
.x11{left:117.562492px;}
.xd{left:143.499992px;}
.xf{left:146.437492px;}
.xe{left:153.562492px;}
.x15{left:162.249992px;}
.x1c{left:176.399979px;}
.x1f{left:197.162476px;}
.x23{left:213.974976px;}
.x25{left:215.912476px;}
.x1a{left:264.849976px;}
.x19{left:268.687500px;}
.x1{left:283.250015px;}
.x9{left:288.312500px;}
.x3{left:323.062531px;}
.x6{left:395.437439px;}
.x5{left:400.937439px;}
.x20{left:421.974976px;}
.x4{left:442.874969px;}
.x22{left:451.199951px;}
.x1e{left:474.755745px;}
.x1d{left:482.999405px;}
.x21{left:514.599976px;}
.x24{left:704.400024px;}
.x8{left:839.612507px;}
.x17{left:855.487505px;}
.x2{left:857.300005px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-2326.250667pt;}
._7{margin-left:-1953.962667pt;}
._5{margin-left:-1908.671854pt;}
._0{width:1.354504pt;}
._4{width:897.834927pt;}
._1{width:992.661187pt;}
._3{width:1005.205187pt;}
._2{width:1022.528260pt;}
._6{width:2266.965447pt;}
.fs3{font-size:90.666667pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:106.666667pt;}
.fs2{font-size:128.000000pt;}
.fs6{font-size:149.333333pt;}
.fs5{font-size:234.666667pt;}
.fs4{font-size:426.666667pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:47.295990pt;}
.y9{bottom:47.743991pt;}
.y2{bottom:47.956398pt;}
.y10{bottom:120.732168pt;}
.y15{bottom:120.732330pt;}
.y12{bottom:190.371707pt;}
.y11{bottom:190.610931pt;}
.y6{bottom:247.804937pt;}
.yd{bottom:261.493490pt;}
.yb{bottom:296.693492pt;}
.y4{bottom:305.267924pt;}
.yc{bottom:331.893494pt;}
.y5{bottom:393.404892pt;}
.y3{bottom:439.688482pt;}
.ya{bottom:483.806407pt;}
.y14{bottom:498.332240pt;}
.yf{bottom:514.293513pt;}
.ye{bottom:520.732239pt;}
.y13{bottom:543.132240pt;}
.y1{bottom:633.288508pt;}
.y8{bottom:650.351601pt;}
.h5{height:61.669271pt;}
.h2{height:64.781250pt;}
.h4{height:65.296875pt;}
.h1{height:71.875000pt;}
.h3{height:86.250000pt;}
.h9{height:100.625000pt;}
.h8{height:100.770833pt;}
.h7{height:158.354167pt;}
.h6{height:287.916667pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xa{left:54.521845pt;}
.x7{left:71.440140pt;}
.x1b{left:99.183329pt;}
.x13{left:105.916667pt;}
.x18{left:107.750000pt;}
.x10{left:109.583333pt;}
.x16{left:114.083333pt;}
.xb{left:115.666682pt;}
.x14{left:118.750000pt;}
.xc{left:125.750000pt;}
.x12{left:131.583333pt;}
.x11{left:156.749990pt;}
.xd{left:191.333323pt;}
.xf{left:195.249990pt;}
.xe{left:204.749990pt;}
.x15{left:216.333323pt;}
.x1c{left:235.199972pt;}
.x1f{left:262.883301pt;}
.x23{left:285.299967pt;}
.x25{left:287.883301pt;}
.x1a{left:353.133301pt;}
.x19{left:358.250000pt;}
.x1{left:377.666687pt;}
.x9{left:384.416667pt;}
.x3{left:430.750041pt;}
.x6{left:527.249919pt;}
.x5{left:534.583252pt;}
.x20{left:562.633301pt;}
.x4{left:590.499959pt;}
.x22{left:601.599935pt;}
.x1e{left:633.007660pt;}
.x1d{left:643.999207pt;}
.x21{left:686.133301pt;}
.x24{left:939.200033pt;}
.x8{left:1119.483342pt;}
.x17{left:1140.650007pt;}
.x2{left:1143.066673pt;}
}
